<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Baby shop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Baby shop</title>

    @Styles.Render("~/Bundle/css")
</head>
<body>
    <!-- Page Preloder -->
    @{ Html.RenderPartial("_LayoutPartial/_Preloder"); }

    <!-- Header Section Begin -->
    @{ Html.RenderPartial("_LayoutPartial/_Header"); }
    <!-- Header End -->

    @RenderBody()

    <!-- Footer Section Begin -->
    @{ Html.RenderPartial("_LayoutPartial/_Footer"); }
    <!-- Footer Section End -->

    @Scripts.Render("~/Bundle/js")
</body>
</html>
