@model IEnumerable<Lab3.Models.Product>

<section class="product-shop spad">
    <div class="container-fluid">
        <h1 class="row">Hot Products</h1>
        <div class="product-list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="~/Content/img/products/@item.ThumbnailURL" alt="">
                                <div class="sale pp-sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active">
                                        <a href="/ShoppingCart/Add/@item.ID">
                                            <i class="icon_bag_alt"></i>
                                        </a>
                                    </li>
                                    <li class="quick-view"><a href="/Product/Detail/@item.ID">+ Quick View</a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">@item.Category.Name</div>
                                <a href="#">
                                    <h5>@item.Name</h5>
                                </a>
                                <div class="product-price">
                                    $@item.Price
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>